html
    head
        title= title_name
        link(href='/css/format.css', rel='stylesheet')
    body
        h1 Welcome, Node.js Test Node #02
        img.logo#ID01(class="logo" srcset="/images/nodejs-original.svg" alt="Node.js logo")
        div= time  